# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar

# Build data
.env
*.lock
*.cache
/public/
/var/
/index.php
/DevelopmentEnvironment.php

# Node
/node_modules/
package-lock.json