# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar

# Build data
.env
*.lock
/src/Type.php
/src/Config.php
/src/Settings.php
/src/Type/*
/public/
/var/
/build/
/*.php
/*.twig
/*.latte

# Node
/node_modules/
package-lock.json